/* -----------teat_area---------- */
/*add maeda 2023/07/13*/
.test_area_wrapper {
    background-color: #FBFBE3;
    position:relative;
    z-index: 3;
}
.icon_controll {
    width:100%;
    height:100%;
}
.icon_controll img {
    display:block;
    width:100%;
    height:100%;
}
.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
    position:absolute;
    z-index: -1;
}
.icon1 {
    width:120px;
    height:120px;
    top:340px;
    left:35px;
}
.icon2 {
    width:80px;
    height:80px;
    top:400px;
    left:140px;
}
.icon3 {
    width:100px;
    height:100px;
    top:280px;
    left:900px;
}
.icon4 {
    width:180px;
    top:430px;
    right:160px;
}
.icon5 {
    width:100px;
    height:100px;
    top:1240px;
    right:20px;
}
.icon6 {
    width:300px;
    height:120px;
    bottom:30px;
    left:20px;
}
.test_area{
    max-width: 1240px;
    margin: 0 auto;
    padding:240px 20px;
}
.test_area-title{
    text-align: center;
    font-size: 40px;
    line-height: 56px;
}
.area_search{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    column-gap: 25px;;
}
.area_search label{
    font-size: 35px;
    font-weight: bold;
}
.area_search_input{
    border-radius: 19px;
    padding-left: 15px;
    width: 400px;
    font-size: 35px;
}
#province_search_key{
    border-radius: 19px;
    background-color: #13AE6A;
    color: white;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: bold;
    border: none;
}
#province_search_key:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid #13AE6A;
    color: #13AE6A;
}
.test_areas{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-bottom:80px;
}
.test_area-part{
    background-color: white;
    border-radius: 12px;
    border: 23px solid #13AE6A;
    margin: 21px 10px 46px 10px;
    width: 494px;
}
.area_detail{
    background-color: white;
    padding: 20px;
    padding-bottom: 70px;
}
.area_img{
    background-color: white;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom:-10px;
}
.area_img img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    width:100%;
    object-fit: cover;
}
.area_img:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.area_detail p{
    margin: 0;
    font-size: 25px;
}
.area_detail-title{
    text-align: center;
    font-size: 35px !important;
    line-height: 56px;
    padding-bottom: 12px;
}
.area_name{
    background-color: #13AE6A;
    color: white;
    border: none;
    border-radius: 16px;
    position: absolute;
    top: 21px; left: 24px;
    padding: 22px 15px;
    font-size: 35px;
    margin: 0;
    z-index: 99;
}
.to_area-list{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.to_area-list-btn{
    padding: 20px 127px;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 29px;
}
@media only screen and (max-width:1440px) {
    .test_areas{
        justify-content: center;
    }
    .to_area-list-btn{
        padding: 20px 40px;
    }
    /*.test_area{
        padding-top: 100px;
    }*/
}
@media only screen and (max-width:1280px) {
    .icon1 {
        left:15px;
    }
    .icon2 {
        left:100px;
    }
    .icon3 {
        left:780px;
    }
    .icon5 {
        top:1220px;
    }
}
@media only screen and (max-width:1100px) {
    .icon1 {
        top:420px;
    }
}
@media only screen and (max-width:1100px) {
    .icon3 {
        left:650px;
    }
}
@media only screen and (max-width:900px) {
    .area_search{
        flex-wrap: wrap;
    }
    .area_search label,
    .area_search_input,
    #province_search_key{
        margin-bottom:30px;
    }
}
@media only screen and (max-width:768px) {
    .icon1,
    .icon2,
    .icon3,
    .icon4,
    .icon5,
    .icon6 {
        display:none;
    }
    .to_area-list-btn{
        padding: 20px 40px;
        font-size: 20px;
    }
    .test_area-title{
        font-size: 30px;
    }
    .area_search_input{
        width: 60%;
        font-size: 25px;
        padding: 10px;
    }
    .test_area-part{
        margin: 10px;
    }
    .test_area-part a{
        width: 100%;
    }
    .area_detail{
        background-color: white;
        padding: 20px;
        padding-bottom: 70px;
    }
    .area_detail p{
        font-size: 15px;
    }
    .area_detail-title{
        font-size: 20px !important;
    }
    .area_img img{
        width: 100%;
        margin: 0 auto;
        
    }
    .area_name{
        top: 10px; left: 15px;
        font-size: 15px !important;
        padding: 22px 15px;
        margin: 0;
    }
    .test_area{
        padding-top: 63px;
    }
}