.method_img{
    padding-top: 80px;
    position: relative;
}

.method_title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 5px black;
    z-index: 3;
    font-weight: bold;
}
.method_img img {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
    opacity: 0.7;
}

.method-br{
    display: none;
}
/* ----------method_detail-------- */
.method_detail{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    padding-top: 100px;
}

.method_detail p, .method_detail li{
    padding: 10px 0;
    font-weight: normal;

}

.method_contitle{
    font-size: 35px;
}

.method_example{
    display: flex;
}

.method_context{
    padding-bottom: 100px;
}
.method_context ul{
    padding: 0;
}
.method_detail li{
    display: flex;
    align-items: center;
}
.method_detail li img{
    width: 400px;
    padding: 20px;
    border-radius: 20px;
}
.method_detail li .method_online{
    width: 60%;
}


@media only screen and (max-width:1440px) {
    .method_detail{
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:1279px) {
    /* .method_img img{
        height: calc(100vh - 60px);
    }
    .method_img{
        padding-top: 60px;
    }
     */
    .method_title{
        font-size: 35px;
    }
}

@media only screen and (max-width:768px) {
    .method-br{
        display: block;
    }
    .method_detail li{
        flex-direction: column;
    }
    .method_detail li img, .method_detail li .method_online{
        width: 300px;
        margin: 0 auto;
    }
    
}
@media only screen and (max-width:460px) {
    .method_detail p, .method_detail li{
        font-size: 15px;
    }
    .method_detail .method_contitle{
        font-size: 25px;
    }
    .method_detail li img, .method_detail li .method_online{
        width: 250px;
        margin: 0 auto;
    }
}