/* -----------mainviual----------- */
.test_site_img{
    padding-top: 80px;
    position: relative;
}
.test_site_img img {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
}
.test_site_name{
    padding: 46px 31px 27px 32px;
    background-color: #13AE6A;
    color: white;
    margin: 30px 25px;
    font-size: 74px;
    border-radius: 16px;
    position: absolute;
}
/* ----------test_site_detail-------- */
.test_site_detail{
    max-width: 1120px;
    text-align: left;
    margin: 0 auto;
}
.predetail_title{
    font-size: 40px;
    line-height: 65px;
    font-weight: bold;
}
.ganre_type{
    border: 1px solid #13AE6A;
    padding:  35px 50px;
    margin-top: 0;
    margin-bottom: 140px;
}
.ganre_group{
    display: flex;
    flex-direction: column;
}
.ganre_detail{
    border: 1px solid #13AE6A;
    padding: 14px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    position: relative;
    padding-top: 50px;
}
.test_schedul-bg{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    z-index: -1;
}

.ganre_context p{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    
}
.ganre_apply{
    margin: 10px;
}
.ganre_apply-btn{
    background-color: #13AE6A;
    color: white;
    padding: 22px 151px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 18px;
}
.wait_time{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 150px;
    padding-top: 150px;
}

#calc_time{
    font-family: 'HGRME';
    font-weight: bold;
    font-size: larger;
    padding: 0 10px;
}

@media only screen and (max-width:1440px) {
    .test_site_detail{
        width: 80%;
        margin: 0 auto;
    }
    .ganre_apply-btn{
        background-color: #13AE6A;
        color: white;
        padding: 15px 50px;
        font-size: 30px;
        font-weight: bold;
        border-radius: 18px;
    }
    .test_site_name{
        font-size: 30px;
        padding: 20px 15px 20px 15px;
    }
    .recent_detail p, .ganre_detail p {
        font-size: 20px;
    }
    .test_schedul-bg{
        width: 500px;
    }
    .wait_time p{
        font-size: 30px;
        font-weight: 600;
    }
}
@media only screen and (max-width:768px) {
    
    /* .test_site_img img{
        height: calc(100vh - 60px);
    }
    .test_site_img{
        padding-top: 60px;
    } */
    .wait_time p{
        font-size: 25px;
        font-weight: 600;
    }
    

}
@media only screen and (max-width:540px) {
    .recent_detail p, .ganre_detail p {
        font-size: 15px;
    }
    .test_schedul-bg{
        width: 340px;
        top: 40%;
    }
}